%tr
  %td{width: '35%'}
    .td-label Resource(s):
    = booking.resource.name
  %td{width: '35%'}
    .td-label Date(s):
    = booking.friendly_dates
  %td{width: '30%'}
    .td-label In/Out Time:
    = booking.friendly_times
