<h1>Book a table in the kitchen:</h1>
<p>Prep tables are the basic unit of the kitchen. Everything happens around a prep table! Book however many you need for your team. Minimum 4 hours. We suggest limiting 2-3 crew members at each table.</p> 


<div id="filters">
  <form class="form-inline">
    <div class="form-group">
      <label for="date">When do you want to come in?</label>
      <select data-placeholder="Today" class="chosen-select">
        <option>Today</option>
        <option>Tomorrow</option>
      </select>
      <select data-placeholder="10:00am" class="chosen-select">
        <% (8..12).each do |n| %>
        <option><%= n %>:00 am</option>
        <% end %>
        <% (1..11).each do |n| %>
        <option><%= n %>:00 pm</option>
        <% end %>
      </select>
    </div>
  </form>
</div>

<div id="map-container">
  <div id="map"><div id="overlay"></div></div>
</div>
