<h1>Book a table in the kitchen:</h1>
<p>Prep tables are the basic unit of the kitchen. Everything happens around a prep table! Book however many you need for your team. Minimum 4 hours. We suggest limiting 2-3 crew members at each table.</p> 


<div id="filters">
  <form id="bookingFilters" class="form-inline">
    <div class="form-group">
      <label for="bookingRequestDate">When do you want to come in?</label>
      <input type="text" id="bookingRequestDate" class="form-control datepicker" value="<%= params["bookingRequestDate"] %>" />
      <%= select_tag "bookingRequestFromTime", options_for_select(@timeslotArray, params["bookingRequestFromTime"]), {:class => "chosen-select form-control"} %> - 
      <%= select_tag "bookingRequestToTime", options_for_select(@timeslotArray, params["bookingRequestToTime"]), {:class => "chosen-select form-control"} %>
      <input type="submit" value="Refresh" class="btn btn-default" />
    </div>
  </form>
</div>

<div id="map-container">
  <div id="map"><div id="overlay"></div></div>
</div>
