
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "jquery-ui/core";
@import "jquery-ui/theme";
@import "jquery-ui/datepicker";
@import "chosen";

@import "resources";
@import "bookings";
@import "time_slider_range";


nav {
  a.navbar-brand  {
    height: auto;
    padding: 5px 15px;
    img {
      height: 50px;
    }
  }
  .navbar-nav li a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar-text {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.accounts-nav .dropdown-menu li {
  text-align: center;
}

footer {
  background-color: #eee;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.popover {
  max-width: 100%;
}
.popover-content {
  width: 400px;
}
#ui-datepicker-div {
  // workaround. #disable-map should not be above of datepicker.
  z-index: 100 !important;
}

input.btn[disabled] {
  cursor: progress;
}
