
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "jquery-ui/core";
@import "jquery-ui/theme";
@import "jquery-ui/datepicker";

@import "layout";
@import "navbar";
@import "booking";
@import "resources";
@import "datepicker";
@import "time_slider_range";
@import "font-awesome";



.popover {
  max-width: 100%;
}
.popover-content {
  width: 400px;
}
#ui-datepicker-div {
  // workaround. #disable-map should not be above of datepicker.
  z-index: 100 !important;
}

input.btn[disabled] {
  cursor: progress;
}

// Add spin to throbber
.throbber {
  -webkit-animation: spin 1500ms infinite linear;
  animation: spin 1500ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}