@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

@font-face {
  font-family: "PFDinCondensedRegular";
  src: font-url("PFDinCondensedRegular.eot");
  src: font-url("PFDinCondensedRegular.eot?#iefix")format("embedded-opentype"),
  font-url("PFDinCondensedRegular.woff") format("woff"),
  font-url("PFDinCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: 'Droid Serif', serif;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #4f4f4f;
  padding-bottom: 560px;
  position: relative;
  line-height: 1.5em;
}

h1 {
  font-size: 31px;
  font-family: "PFDinCondensedRegular", sans-serif;
  text-transform: uppercase;
  color: #1f4b60;
  letter-spacing: 0.5px;
  margin-bottom: 0.5em;
  line-height: 1.2em;
}

h2 {
  font-size: 18px;
  font-family: "PFDinCondensedRegular", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h3 {
  font-size: 13px;
  letter-spacing: 3px;
  font-family: "purista-web", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.text_blue {
  color: #1f4b60;
}

.btn-default {
  background: transparent!important;
  border: none;
  box-shadow: none;
  text-shadow: none;
  color: #1f4b60;
  &:focus,
  &:hover {
    box-shadow: none;
  }
}

.btn-primary,
.booking-close,
.btn-grey {
  background: #ffffff;
  border: 2px solid #db493e;
  color: #db493e;
  text-transform: uppercase;
  height: 46px;
  border-radius: 0;
  text-shadow: none;
  box-shadow: none;
  padding: 6px 25px;
  outline: none;
  letter-spacing: 3px;
  transition: all .35s;
  &:hover,
  &:focus {
    background-color: #db493e;
    border: 2px solid #db493e;
    outline: none;
    transition: all .35s;
  }
}

.booking-close,
.btn-grey {
  border-color: #cccccc;
  color: #cccccc;
  display: inline-block;
  line-height: 30px;
  &:hover,
  &:focus {
    background-color: #cccccc;
    text-decoration: none;
    border-color: #cccccc;
    color: #333333;
  }
}

.btn-change {
  padding-left: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 480px;
  background-color: #1f4b60;
  color: #ffffff;
  text-align: center;
  padding-top: 80px;

  .work-for-kitchen-link {
    display: block;
    width: 250px;
    height: 44px;
    line-height: 44px;
    margin: 35px auto 40px auto;
    text-transform: uppercase;
    background-color: #db493e;
    color: #ffffff;
    transition: all .35s;
    &:hover,
    &:focus {
      background-color: #b54945;
      text-decoration: none;
      transition: all .35s;
    }
  }
  .contact-info {
    margin: 10px 0;
    a {
      color: #ffffff;
      &:hover,
      &:active {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }

  .social-links {
    margin: 40px 0;
    padding: 0;
    li {
      display: inline-block;
      margin-right: 27px;
      a {
        font-size: 26px;
        color: #ffffff;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

a:focus {
  outline: none!important;
}

.container-fluid {
  padding-left: 35px;
  padding-right: 35px;
}

.box-sessions {
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-group {
  margin-bottom: 24px;
}

.form-control, input, select {
  height: 42px;
  border: 1px solid #cccccc;
  background-color: #fafafa;
  border-radius: 2px;
}

.alert {
  text-shadow: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  padding: 20px;
}

.alert-info {
  background: #d9edf7!important;
}

.alert-success {
  background: #dff0d8!important;
}

.alert-dismissible .close {
  right: 0;
}

.popover {
  border-radius: 2px;
  font-family: "Droid Serif", sans-serif;
  h3 {
    background-color: #ffffff;
  }
}

.user-logout {
  margin-top: 10px;
}

.display-block {
  display: block;
}

.modal {
  color: #777777;
}

.modal-content {
  border-radius: 2px;
}

.fk-error-page {
  text-align: center;
  h1 {
    font-size: 90px;
    line-height: 72px;
    margin-bottom: 10px;
  }
  h2{
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .popover {
    .col-sm-6:first-child {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 480px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}