nav {
  .navbar-brand  {
    height: auto;
    padding: 20px 15px;
    img {
      height: 64px;
    }
  }

  .navbar-collapse.navbar-right {
    padding-right: 0;
  }

  .navbar-nav li a {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "purista-web", sans-serif;
    font-weight: 600;
  }

  .navbar-text {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &.navbar-default {
    position: relative;
    background-color: rgba(255,255,255,0.7);
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    background-image: none;
    .navbar-toggle {
      border-color: transparent;
      margin-top: 20px;
      margin-bottom: 20px;
      .icon-bar {
        background-color: #1f4b60;
      }
    }
    .accounts-nav {
      position: absolute;
      right: 20px;
    }
  }

  .navbar-nav {
    & > li {
      & > a {
        font-size: 13px;
        text-transform: uppercase;
        color: #1f4b60!important;
        padding-top: 42px;
        padding-bottom: 42px;
        letter-spacing: 2px;
        &:hover {
          color: #9c9999!important;
        }
      }
      &.active {
        & > a {
          background: none!important;
          box-shadow: none!important;
          color: #9c9999!important;
        }
      }
      &.dropdown {
        &.open {
          .dropdown-toggle {
            background: none!important;
            box-shadow: none!important;
            color: #9c9999!important;
          }
        }
        .dropdown-menu {
          left: 0 !important;
          right: auto;
          top: 65px;
          border: 0;
          padding-top: 16px;
          box-shadow: none;
          border-radius: 0;
          text-transform: uppercase;
          font-size: 13px;
          letter-spacing: 2px;
        }
        li a {
          background: none!important;
          padding: 4px 15px;
        }
      }
      &:last-child > a {
        padding-right: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  .important-info-row {
    width: 330px;
  }
}

.important-info-hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 2px solid #13065F;
}

.pt-10 {
  padding-top: 10px;
}

.accounts-nav .dropdown-menu li {
  text-align: center;
}

@media screen and (min-width: 768px) {
  nav .navbar-nav > li.dropdown:hover {
    .dropdown-menu {
      display: block;
      margin-top: 0;
    }
    .dropdown-toggle {
      color: #9c9999!important;
    }
  }
}

@media screen and (max-width: 880px) {
  .navbar-collapse {
    border-top: 0px;
    border-bottom: 1px solid transparent;
  }
  nav {
    .navbar-brand {
      padding-top: 10px;
      padding-bottom: 10px;
      float: none;
      width: 84px;
      margin: 0px auto;
      display: block;
      img {
        height: 54px;
      }
    }
    &.navbar-default {
      .accounts-nav {
        position: relative;
        right: auto;
      }
    }
    .navbar-nav {
      & > li {
        & > a {
          padding-top: 10px;
          padding-bottom: 10px;
          text-align: center;
        }
      }
      .open {
        .dropdown-menu {
          & >li a {
            color: #1f4b60 !important;
            padding-left: 15px;
          }
        }
      }
      .dropdown-menu {
        text-align: center;
      }
    }
  }
}
