$map-height: 407px;
$map-width: 1276px;

#filters .form-group {
  margin-bottom: 10px;
}

#map-container {
  border: 3px solid #666;
  height: $map-height;
  overflow: scroll;
  position: relative;
  width: 80%;

  #map {
    background: url(asset_path("map-kitchen-background.png")) no-repeat;
    height: $map-height;
    opacity: 0.6;
    width: $map-width;
    #overlay {
      background-color: white;
      height: $map-height;
      opacity: 0.6;
      position: absolute;
      width: $map-width;
    }
  }

  #disable-map {
    background-color: #000;
    height: $map-height;
    opacity: 0.3;
    position: absolute;
    width: $map-width;
    z-index: 100;
  }

  div.resource {
    background-color: #eee;
    border: 2px solid #444;
    height: 30px;
    width: 50px;
    position: absolute;

    div.button {
      height: 100%;
      width: 100%;
    }

    &.available {
      background-color: #d6e9c6;
      border-color: #3c763d;
      cursor: pointer;

      div.button {
        cursor: pointer;
      }
    }
  }

}

