      <!-- secondary nav (will collapse on smaller screens) -->
      <div class="collapse navbar-collapse navbar-right" id="subnav-collapse-1">
        <ul class="nav navbar-nav">
          <li><p class="navbar-text">Welcome back, <%= @coworker.salutation || "you" %></p></li>
          <li class="accounts-nav dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account</a>
            <ul class="dropdown-menu">
              <li class="text-info">Remaining hours: <%= @coworker.remaining_hours_in_plan.to_i %></li>
              <li class="text-info">Total hours in plan: <%= @coworker.total_hours_in_plan.to_i %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Logout", logout_path, :method => "delete" %></li>
            </ul>
          </li>
        </ul>
      </div>
