        <!-- main nav -->
        <ul class="nav navbar-nav navbar-left" id="nav-main">
          <li class="bookings-nav"><a href="/bookings">My Reservations</a></li>
          <li class="resources-nav"><a href="/">Book Kitchen Time</a></li>
        </ul>
